@import "tailwindcss";

body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.shadow-in:hover {
    box-shadow: inset 2px 2px 0 #3b82f6,
    inset -2px -2px 0 #3b82f6,
    inset -2px 2px 0 #3b82f6,
    inset 2px -2px 0 #3b82f6;
}

@keyframes toast {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.animate-toast {
    animation: toast 4s linear forwards;
}
